
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All Products : Aling Nena </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="banner">
        <div class="container">
            <center><h1>Aling Nena's Store</h1></center>
            <center><p>The Walmart of the Philippines.</p></center>
        </div>
    </div>

    <header class="top" role="header">
        <div class="container">
            <a href="/" class="navbar-brand pull-left">
                A/N
            </a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <nav class="navbar-collapse collapse" role="navigation">
                <ul class="navbar-nav nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/prod">Products</a></li>
                </ul>
            </nav>
        </div>
    </header>

     <div class="middle">
        <div class="container">
            <div class="col-md-9 content">
                <h2>Employee of the Month: Matthew Bautista</h2>
                <p><img src=" /pics/eotm.png"></img></p>
            </div>
            <div class="col-md-3">
                <h2>BUY NOW!</h2>
                <ul class="nav nav-pills nav-stacked">
                  <% @products.each do |x| %>
                  <li><a href="/buy/<%= x.id %>"> <%= x.name %> </a> </li>
                  <% end %>
                </ul>
            </div>
        </div>
    </div>



    <!-- Site footer -->
    <div class="bottom">
        <div class="container">
            <div class="col-md-4">
                <h3><span class="glyphicon glyphicon-heart"></span> Contact Us</h3>
                <p>Aling Nena</p>
                <p>Nena@alingnena.com</p>
                <p>1 Nena street Aling City, Pampanga </p>
            </div>
            <div class="col-md-4">
                <h3><span class="glyphicon glyphicon-star"></span> Jobs</h3>
                <p>Currently hiring: Tagalinis ng tindahan</p>
                <p>Send your resumes to: jobs@alingnena.com</p>
            </div>
            <div class="col-md-4">
                <h3><span class="glyphicon glyphicon-music"></span> Sponsors</h3>
                <p> Special thanks to Aling Nena's Sponsors: </p>
                <p> Gatorade </p>
                <p> Monster Energy </p>
                <p> Nike </p>
                <p> Steelseries </p>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/jquery/jquery-2.1.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
